body{
    background-color: #1a1a2e;
}
h1{
    text-align: center;
    color: orange
}
nav{
    text-align: center;
}
a{
    background-color: orange;
    color: #1a1a2e;
    border: 2px solid orange;
    border-radius: 5px;
    padding: 3px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
}